.DS_Store
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.virtual_documents/
.vscode/
data/outputs/
*.crdownload
SAR_Lab_2/*.tif
SAR_Lab_2/*.dim
SAR_Lab_2/*.data/
SAR_Lab_2/*.bak

# Data archives and directories
*.tar.xz
SAR_Lab_6/RidgecrestSenDT71/
SAR_Lab_6/SanFranSenDT42/

# macOS metadata files
._*
**/._*
